@model List<MeroPharma.Models.Domain.Employee>
@{
}

<h1>List of Employees</h1>

<td><a button type="submit" class="btn btn-primary" asp-action="AddEmployee" asp-asp-controller="Employees">Add Employees</a></td>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Salaray</th>
            <th>DateofBirth</th>
            <th>Password</th>
            <th>Contact</th>
            <th> </th>
        </tr>
    </thead>
    <tboy>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.EmployeeID</td>
                <td>@employee.EmployeeName</td>
                <td>@employee.Email</td>
                <td>@employee.Salary</td>
                <td>@employee.DateOfBirth.ToString("dd-MM-yyyy")</td>
                <td>@employee.Password</td>
                <td>@employee.Contact</td>
                <td><a asp-action="ViewDetails" asp-route-id="@employee.EmployeeID">View</a></td>
            </tr>
        }
    </tboy>
</table>